{% extends "base.html" %}
{% block "title" %} Home {% endblock %}

{% block "content" %}
<h3>My personal blog</h3>
<p>This is my personal blog.</p>
<p>Here you can find my finished, ongoing and still in state of idea projects.</p>
<p>Topics that I have learned and "try it" function that lets you try out code live in this website </p>
<p>Right now:</p>
<ul>
    <li><strong>Projects done:</strong> {{ num_projects }}</li>
    <li><strong>Topics:</strong> {{ num_topics }}</li>
    <li><strong>Sub Topics:</strong> {{ num_subtopics }}</li>
</ul>


{% endblock %}