{% extends "base.html" %}

{% block "title" %} Projects {% endblock %}
{% block "content"%}
 <h1>Project List</h1>

  {% for project in projects %}
    <div class="card mt-3">
      <div class="card-body d-flex justify-content-between align-items-center">
        <h5 class="card-title"><a href="{% url 'project' project.id %}">{{ project }}</a></h5>
      </div>
    </div>
  {% endfor %}
<br>
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'project_new' %}">New project</a>

<div class = 'container mt-3'>
    {% if projects.has_other_pages %}
        <ul class="pagination pagination-sm justify-content-center">
            {% for i in projects.paginator.page_range %}
                {% if projects.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}