{% extends "base.html" %}

{% block "title" %} Topic {% endblock %}

{% block "content" %}
<h1>{{ topic }}</h1>
<div>
    <span>
        <p>{{ topic.about }}</p>
    </span>
</div>
{% for subtopic in topic.subtopics.all %}
<ul>
    <li><a href="{% url 'subtopic' topic.pk subtopic.id %}">{{ subtopic.sub_topic_name}}</a>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'subtopic_update' topic.pk subtopic.id  %}">Up</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'subtopic_delete' topic.pk subtopic.id   %}">X</a>
    </li>
</ul>
{% endfor %}
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'subtopics_new' topic.id%}">New subtopic</a>
<div>
    <p><strong>Projects related to this topic :</strong></p>
    {% for project in topic.project.all %}
    <ul>
        <li><a href="{% url 'project' project.id %}">{{ project.title }}</a></li>
    </ul>
    {% endfor %}
</div>
{% endblock %}