{% extends "base.html" %}

{% block "title" %}Topics{% endblock%}

{% block "content" %}

<h1>Topic List</h1>
<p class="text-danger"> DISCLAIMER ALL OF THIS IS COPIED AND PASTED FROM <a href="https://www.w3schools.com/">W3SCHOOLS</a></p>
{% for topic in topics %}
<div class="card mt-3">
    <div class="card-body d-flex justify-content-between align-items-center">
        <h5 class="card-title"><a href="{% url 'topic' topic.id %} "><p>{{ topic }}</a></h5>
    </div>
</div>
{% endfor %}
<br>
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'topics_new' %}">New topic</a>

<div class="container mt-3">
    {% if is_paginated %}
    <ul class="pagination pagination-si justify-content-center">
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="page-item active">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
</div>


{% endblock%}